.My_bank{
    text-align: center;
    background-color:  rgb(0, 0, 58);
    padding: 15px;  
    color: white;
}
.My_bank img{
    width: 70px;
    height: auto;
    float: left;
}
.service{
    text-align: center;
    background-color:  rgb(201, 201, 243) ;
}
.service_button {
    background-color:  rgb(0, 0, 58);
    box-shadow: 10px 20px 10px rgb(89, 91, 105);
    text-align: left;
    height: auto;
}
.service_button ul li {
    padding: 20px 0px;
    list-style: none;
}
.btns{
    padding: 35px 0px;
    color: white;
}
.detail{
    text-align: center;
    padding: 40px;
}
.sub_detail{
    background-color:  rgb(0, 0, 58);
    border-radius: 50px;
    color: white;
    padding: 60px 50px;
    text-align: left;
}
#usr_detail{
    margin: 3px;
    
}